# Node
node_modules
.next
npm-debug.log
yarn-error.log

# Environment
.env
*.zip
.env.local
.env.*.local

# Python
build_lambda
__pycache__/
*.pyc

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Build
dist
build